<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <canvas width="800" height="600" id="canvas"></canvas>
    <!-- <img src='./images/coin-sprite.png'/> -->
    <!-- <script>
        var canvas = document.getElementById('canvas');
        var c = canvas.getContext('2d');
        c.fillStyle = "red";
        c.fillRect(100, 100, 400, 300); 
    </script> -->
</body>
</html>
