// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: grey;
  padding: 0;
  margin: 0;
}

.container{
  width: 75%;
  margin: 0 auto;
}

//GAME HEADER
#game-head{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 30px;

  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: white;
  }

  .game-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 140px;
    font-weight: 600;
  }

  .game-logo a{
    text-decoration: none;
  }

  .game-meta-info {
    height: 140px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

    .game-meta-segment {
      height: 140px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h3 {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
      }

      span {
        font-weight: 600;
        font-size: 25px;
      }
    }

  }

  .contact{
    height: 140px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
      font-weight: 600;
      margin: 10px 0px 10px 0px;
      color: white;
    }

    a {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      background-color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1 0 40%;
    }

    a .contact-icon {
      font-size: 20px;
      color: white;
    }

    .contact-icons-div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 50px;
    }
  }
}

// GAME BODY
#game-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .game-controls{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .controls a{
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
  }

  .game-button {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin: 15px;
    transition: color 0.5s;
  }

  .game-button:hover{
    color: white;
    background-color: blue;
    border: 2px solid white;
  }
}

.level-overlay {
  position: absolute;
  height: 600px;
  width: 800px;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  border-radius: 25px;
  border: 1px solid blue;
  margin-top: 100px;
  color: white;
  font-size: 25px;
}
.next-button:hover{
  color: blue;
  background-color: white;
}

.complete-message{
  border: 2px solid red;
  padding: 30px;
  font-size: 30px;
  width: 400px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}
