// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

body,h1,h2,h3,h4,a,p,div,span {
  // font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-shadow: 1px 1px 5px black;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 4px;
  text-shadow: -1px 0 0 #fdff2a,
    -2px 0 0 #df4a42,
    1px 0 0 #91fcfe,
    2px 0 0 #4405fc;
}

// @font-face {
//   font-family: video-game;
//   src: url('../../fonts/arcadeclassic/ARCADECLASSIC.TTF');
// }
// .container{
//   width: 75%;
//   margin: 0 auto;
// }

//GAME HEADER
#game-head{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .game-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 140px;
    font-weight: 600;

    h1 {
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      color: white;

    }
  }

  .game-logo a{
    text-decoration: none;
  }

  .contact{
    height: 140px;
    width: 15%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
      font-weight: 600;
      margin: 10px 0px 10px 0px;
      color: white;
    }

    a {
      border-radius: 50%;
      height: 35px;
      width: 35px;
      background-color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1 0 40%;
      transition: 0.5s;
    }

    a:hover{
      background-color: yellow;
    }

    a .contact-icon {
      font-size: 20px;
      color: black;
      text-shadow: none;
      letter-spacing: 0;
    }

    .contact-icons-div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 50px;

      a {
        margin: 10px;
      }
    }
  }
}

// GAME BODY
#game-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .directions{
    // font-size: 20px;
    width: 15%;
    text-align: center;
    color: white;

    h2{
      margin-bottom: 40px;
    }
    p {
      margin: 25px 0px;
    }
  }

  .game{
    width: 55%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin: 0% 2%;
  }

  #start-screen {
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex;
    align-items: center;


    #start {
      border-top: 4px solid white;
      border-bottom: 4px solid white;
      text-align: center;
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 45px;
      font-weight: 600;
      transition: 1s background-color;

      -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */
      animation: 4s infinite bgcolorchange;
    }

    @keyframes bgcolorchange {
      0% { color: white; }
      25% { color: red; }
      50% { color: blue; }
      75% { color: purple; }
      100% { color: white; }
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes bgcolorchange {
      0% {color: white;}
      25% {color: red;}
      50% {color: blue;}
      75% {color: purple;}
      100% {color: white;}
    }

    #start:hover{
      background-color: #003c00;
    }
  }


  canvas {
    position: absolute;
  }

  .game-meta-info {
    width: 800px;
    padding-top: 20px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 5;

    .game-meta-segment {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h3 {
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      span {
        font-weight: 500;
        font-size: 18px;
      }
    }

  }

  .game-controls{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: white;

    h1{
      text-align: center;
      font-size: 22px;
    }
  }

  // .controls{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   color: white;
  // }

  // .controls a{
  //   color: black;
  //   text-align: center;
  //   text-decoration: none;
  //   background-color: white;
  // }

  .game-dash{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 25px 0px;

    i {
      font-size: 30px;
    }
  }

  .game-button {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin: 15px;
    transition: color 0.5s;
  }

  .game-icon{
    color: white;
  }

  .game-button:hover{
    color: white;
    background-color: blue;
    border: 2px solid white;
  }
}

.level-overlay {
  position: absolute;
  height: 600px;
  width: 800px;
  background-color: black;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  border-radius: 25px;
  border: 1px solid blue;
  margin-top: 100px;
  color: white;
  font-size: 25px;
}
.next-button:hover{
  color: blue;
  background-color: white;
}

.complete-message{
  // border: 2px solid red;
  padding: 30px;
  font-size: 30px;
  width: 90%;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none !important;
}
